{% extends "home.html" %} 

{% block content %}

    <section class="mb-6">
        <h2 class="text-xl mb-2">About</h2>
        <p>Maternal mortality is widely considered an indicator of overall population health and the status of women in the population.</p>
        </br>   
        <p>The data in this table come from vital records and the M3RC review process. Data are not cross-classified on all variables: cause of death data are available by the relation to pregnancy (pregnancy-related, pregnancy-associated but not related, unable to determine), race/ethnicity and borough of residence data are each separately available for the total number of pregnancy-associated deaths and pregnancy-related deaths only.</p>
        </br> 
        <p>More information can be found on https://catalog.data.gov/dataset/pregnancy-associated-mortality</p>
    </section>
    
{% endblock %}


